*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

input, button, textarea, select {
  font: inherit;
}

.head {
  padding: 1rem 1.5rem;
  background-color: #1a1a1a;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff
}

.form {
  min-width: 30rem;
  padding: 2.5rem
}

.grid {
  display: flex;
  align-items: center;
}

.form__row:not(:first-child) {
  margin-top: 2rem;
}

.form__label {
  display: block;
  min-width: 7.5rem;
  font-size: 1.6rem;
}

.form__input {
  outline: none;
  border: none;
  box-shadow: none;
  width: 100%;
  padding: 1rem 1rem;
  background-color: #e7e7e7;
}

.button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 3rem;
  background-image: linear-gradient(135deg, #FF5759, #FF4E96);
  color: #fff;
}

.re-register {
  display: block;
  margin-top: 1rem;
  opacity: 0;
  text-align: right;
  transition: .25s ease-in-out
}

.re-register.is-active {
  opacity: 1;
}